.composition {
  position: relative;
  margin-top: 1.5rem;
  font-size: 2rem;

  &__photo {
    width: 25%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1rem;

    // car
    &--p1{
      right: 0;
      top: -2rem;
    }

    // plane
    &--p2{
      left: 25rem;
      top: -1.5rem;
    }

    // hotel
    &--p3{
      right: 20%;
      top: 3rem;
    }

    &:hover{
      outline: 0.3rem solid blue;
      transform: scale(1.05) translate(-.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
      z-index: 20;
      color: darkgreen;
    }
  }

  &:hover &__photo:not(:hover){
    transform: scale(.95);
  }
}
