@media(min-width: 768px) {
  .mobile-footer {
    display: none;
  }

  .footer {
    display: flex;
    background: #ffffff;
    padding-left: 40px;
    padding-right: 40px;


    &__signup {
      display: flex;

      &__div-1 {
        float: left;
      }

      &__div-2 {
        float: left;
        margin-left: 20px;
      }

    }

    &__social {
      display: flex;

      &__div-1 {
        display: flex;
        float: left;
        margin-top: 10px;
      }

      &__div-2 {
        display: flex;
        float: left;

        & a {
          text-decoration: none;

          & .fab {
            margin-left: 20px;
          }
        }

        & a {

        }
      }

    }

    &__mobile-apps {
      text-align: center;

      font-size: 1.4rem;

      a {
        text-decoration: none;

        & i {
          margin-left: 0.5rem;
        }

      }


    }

    &__wrapper {

      margin-bottom: 1.5rem;

      & div {
        & ion-label {
          font-size: 1.6rem;
        }
      }


      & a {
        text-decoration: none;
      }

      & a:hover {
        text-decoration: underline;
      }

      &__nav-subdiv{

        &--subdiv-3 {
          text-align: center;
        }

        &__btn {
          margin: 0 auto;
          text-align: center;
        }
      }

    }

    &__site-info {
      font-size: 1.4rem;

      &__content-1 {
        text-align: left;
      }

      &__content-2 {
        text-align: right;
      }
    }
  }
}

// Mobile
@media(max-width: 768px) {
  .mobile-footer {
    display: block;
    margin-bottom: 0;

    & ion-col {
      align-items: center;
      justify-content: center;
    }
  }

  .footer {
    display: none;
  }
}
