@import '../base/base';
@import '../abstract/variables';

ion-header, ion-toolbar, ion-title {
  background: $background-color;
}

@media(min-width: 768px) {
  .mobile-header {
    display: none;
    background: $background-color;
  }

  .header {
    display: flex;
    background: $background-color;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 2rem;
    width: 100%;


    &__logo-text-wrapper {
      display: block;
      width: 100%;

      &__logo {
        display: block;
        width: 13%;
        height: 13%;
        float: left;
        z-index: 1000;
        position: relative;
      }

      &__text {
        left: 100px;
        float: left;
        margin-top: 0;
        margin-left: 7px;
        font-family: 'Nunito,sans-serif', serif;

        &__name {
          text-decoration: none;
          width: 100%;
        }


        & a {
          text-decoration: none;



          &__tagline {
            font-size: 1.2rem;
          }
        }

      }
    }

    &__nav-wrapper {
      display: block;
      right: 0.5rem;
      position: absolute;
      z-index: 10;
      top: 1.8rem;
    }
  }
}

@media(max-width: 768px) {
  .mobile-header {
    display: block;
    max-height: 84px;
    background: $background-color;

    & ion-toolbar {
      --ion-border-color: none;
      background: $background-color;

      & .toolbar-background {
        background: var(--ion-background-color, $background-color);
      }
    }

    & ion-button {
      height: 65px;

      & ion-icon {
        color: #9a9a9a;
        opacity: 0.5;
      }
    }
    &__logo-img {
      margin: 0 auto;
      width: 24%;
    }

  }

  .header {
    display: none;
  }
}

.active-item {
  border-bottom: 2px solid var(--ion-color-primary);
}

.dropdown {
  // width: 7.2rem;
  // height: 8rem;
  background: $background-color;
  position: absolute;
  top: 3.3rem;
  left: 275px;
  z-index: 5;
  ion-item:hover {
    --ion-item-color: var(--ion-color-primary);
  }
}

.account-dropdown {
  // width: 7.2rem;
  // height: 8rem;
  background: $background-color;
  position: absolute;
  top: 3.9rem;
  left: 510px;
  z-index: 1;
  ion-item:hover {
    --ion-item-color: var(--ion-color-primary);
  }
}
