<ion-content>
  <ion-card class="main-card">
    <ion-card-header>
      <ion-card-title>{{ pageTitle }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Will My Review Make a Difference?</ion-label>
          <p>Yes, patients have no place to go to find a list of providers on one platform.
            Being able to see other patients experiences, and reviews will help future patients to make an informed decision in regards to their health and well being.
            Patients depend on reviews to help guide them to making the best possible decision.</p>
        </ion-item>
        <ion-item>
          <ion-label>What If My Medical Provider Is Not Listed To Leave a Review?</ion-label>
          <p>Please contact our support and we will list your provider in our directory within 72 hours. The directory is not a complete listing of every provider, but our goal is to provide the most accurate listing of medical providers globally. We will be adding providers daily, our goal is to list as many providers as we can so patients can leave reviews.</p>
        </ion-item>
        <ion-item>
          <ion-label>I Am Already Listed In Other Directories Why Should I List in MedEviews?</ion-label>
          <p>This directory is the first directory aimed at providers globally, and built on medical tourist needs. Listing on MedEviews, will add to your profile as we grow in numbers so will the amount of available patients to get you noticed. Patients can build trust in your brand, and you can keep them updated on your efforts, services, and reviews. MedEviews will be the prime destination for all provider listings globally.</p>
        </ion-item>
        <ion-item>
          <ion-label>Why Do I Have Reviews and I Have Not Listed?</ion-label>
          <p>Our community of patients go far and vast, in order to not deprive them of waiting for a medical professional to list in order to leave reviews we have provided their providers information to leave reviews until that provider claims their listing. We do our best to contact providers who have not claimed their listing and encourage they do so if their patients are leaving reviews.
          </p>
        </ion-item>
      </ion-list>


    </ion-card-content>
  </ion-card>
  <app-footer></app-footer>
</ion-content>
