<!-- START FOOTER CONTAINER -->
<ion-footer class="mobile-footer">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">

        <ion-tab-button tab="/performances">
          <ion-icon name="play"></ion-icon>
          <ion-label>Performances</ion-label>
          <ion-badge>9</ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="events">
          <ion-icon name="mic"></ion-icon>
          <ion-label>Events</ion-label>
          <ion-badge>9</ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="admin">
          <ion-icon name="settings"></ion-icon>
          <ion-label>Features</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>


<ion-footer>
  <ion-toolbar class="footer">
    <!--ion-grid class="footer"-->
    <ion-grid>
      <ion-row>
        <ion-col size-xs>
          <div class="footer__signup">
            <div class="footer__signup__div-1">
              <ion-input type="text" placeholder="Subscribe and stay connected"></ion-input>
            </div>
            <div class="footer__signup__div-2">
              <ion-button color="tertiary" fill="outline"
                          (click)="openSubscribeModal()">Subscribe</ion-button>
            </div>
          </div>
        </ion-col>

        <ion-col size="4" size-xs>
          <div class="footer__social">
            <div class="footer__social__div-1">
              FOLLOW US
            </div>
            <div class="footer__social__div-2">
              <a href="https://www.facebook.com/MedEviews" target="_blank">
                <i class="fab fa-facebook-f fa-3x"></i>
              </a>
              <a href="https://twitter.com/MedEviews" target="_blank">
                <i class="fab fa-twitter fa-3x"></i>
              </a>
              <a href="https://www.instagram.com/medeviews/" target="_blank">
                <i class="fab fa-instagram fa-3x"></i>
              </a>
              <a href="https://www.linkedin.com/company/medeviews/" target="_blank">
                <i class="fab fa-linkedin fa-3x"></i>
              </a>
              <a href="https://www.youtube.com/medeviews/" target="_blank">
                <i class="fab fa-youtube fa-3x"></i>
              </a>
              <a href="https://www.tiktok.com/@medeviews?lang=en" target="_blank">
                <i class="fab fa-tiktok fa-3x"></i>
              </a>
            </div>
          </div>
        </ion-col>

        <ion-col size-xs>
          <div class="footer__mobile-apps">
            <a [routerLink]="['/mobile-app']">
               Mobile apps <i class="fad fa-mobile-alt fa-4x"></i>
            </a>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="footer__wrapper">
        <ion-col>
          <!--div class="footer__wrapper__nav-subdiv"-->
          <div>
            <ion-list>
              <ion-item-divider>
                <ion-label>Company</ion-label>
              </ion-item-divider>
              <ion-item lines="none"><a [routerLink]="['/about']">About {{ siteName }}</a></ion-item>
              <ion-item lines="none">
                <a [routerLink]="['/history']">Our History</a>
              </ion-item>
              <ion-item lines="none"><a [routerLink]="['/covid']">COVID-19 Update</a></ion-item>
              <ion-item lines="none"><a [routerLink]="['/location']">Location</a></ion-item>
              <ion-item lines="none"><a [routerLink]="['/testimonials']">Testimonials</a></ion-item>
            </ion-list>
          </div>
        </ion-col>
        <ion-col>
          <!--div class="footer__wrapper__nav-subdiv"-->
          <div>
            <ion-list>
              <ion-item-divider>
                <ion-label>
                  Customer Service
                </ion-label>
              </ion-item-divider>

              <ion-item lines="none"><a [routerLink]="['/reviews']">Reviews</a></ion-item>
              <ion-item lines="none"><a [routerLink]="['/services']">Services</a></ion-item>
              <ion-item lines="none"><a [routerLink]="['/faqs']">FAQs</a></ion-item>
              <ion-item lines="none"><a [routerLink]="['/privacy']">Privacy Policy</a></ion-item>
              <ion-item lines="none"><a [routerLink]="['/pricing']">Membership</a></ion-item>
            </ion-list>
          </div>
        </ion-col>
        <ion-col>
          <!--div class="footer__wrapper__nav-subdiv"-->
          <div>
            <ion-list>
              <ion-item-divider>
                <ion-label>
                  Got Questions?
                </ion-label>
              </ion-item-divider>
              <div class="footer__wrapper__nav-subdiv__subdiv-3">
                  <div class="footer__wrapper__nav-subdiv__btn">
                    <ion-item lines="none">
                      <ion-label>
                        We would love to hear from you.
                      </ion-label>
                    </ion-item>
                    <ion-item lines="none">
                    </ion-item>
                    <ion-button size="large" class="quote-btn" (click)="getContactForm()">Contact Us</ion-button>
                  </div>

                  <!--button class="" (click)="getQuoteForm()">Get Quote
                  </button-->

              </div>
            </ion-list>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="footer__site-info">
        <ion-col size="4" size-sm>
          <div class="footer__site-info__content-1">
            &copy; {{ date }} <a [routerLink]="['/home']">{{ siteFooterName }}</a>
            All Rights Reserved.
          </div>
        </ion-col>
        <ion-col size="4">

        </ion-col>
        <ion-col size="4" size-sm>
          <div class="footer__site-info__content-2">
            <a [routerLink]="['/terms-conditions']">Terms & Conditions |</a>
            <a [routerLink]="['/privacy']"> Privacy Policy |</a>
            <a [routerLink]="['/sitemap']"> Sitemap</a>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-toolbar>
</ion-footer>


