<ion-content>
  <section class="prices">
    <ion-card class="main-card">
      <ion-card-header>
        <ion-card-subtitle class="section-headings">
          <h2>{{ pageTitle }}</h2>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-grid>
        <ion-row class="card-wrapper">
          <ion-col>
            <div class="card">
              <div class="card__side card__side--front">
                <div class="card__picture card__picture--1">
                  <ion-img [src]="cardOneImg"></ion-img>
                </div>
                <div class="card__heading">
                  Silver
                </div>
                <div class="card__details">
                  <ion-label>Free</ion-label>
                  <ul>
                    <li>Free Search Results</li>
                    <li>1 Patient</li>
                    <li>Book Appointment</li>
                    <li>Book Flight</li>
                    <li>Reserve Hotel</li>
                  </ul>
                </div>
              </div>
              <div class="card__side card__side--back card__side--back--1">
                <div class="card__cta">
                  <div class="card__price-box">
                    <p class="card__price-only">Only</p>
                    <p class="card__price-value">$0.00</p>
                  </div>
                  <a href="#" class="btn btn--white">Subscribe Now</a>
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div class="card">
              <div class="card__side card__side--front">
                <div class="card__picture card__picture--2">
                  <ion-img [src]="cardTwoImg"></ion-img>
                </div>
                <div class="card__heading">
                  Bronze
                </div>
                <div class="card__details">
                  <ion-label>Individual</ion-label>
                  <ul>
                    <li>Tier 1 in Search Results</li>
                    <li>1 Physician</li>
                    <li>List in 1 Category</li>
                    <li>Receive Direct Inquiries</li>
                    <li>Display Customer Reviews</li>
                    <li>Display Phone Number</li>
                    <li>Display Social Media and Website Link</li>
                  </ul>
                </div>
              </div>
              <div class="card__side card__side--back card__side--back--2">
                <div class="card__cta">
                  <div class="card__price-box">
                    <p class="card__price-only">Only</p>
                    <p class="card__price-value">$39.99</p>
                  </div>
                  <a href="#" class="btn btn--white">Subscribe Now</a>
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div class="card">
              <div class="card__side card__side--front">
                <div class="card__picture card__picture--3">
                  <ion-img [src]="cardThreeImg"></ion-img>
                </div>
                <div class="card__heading">
                  Gold
                </div>
                <div class="card__details">
                  <ion-label>Clinics</ion-label>
                  <ul>
                    <li>Tier 2 in Search Results</li>
                    <li>Up to 10 Physicians</li>
                    <li>List in 5 Categories</li>
                    <li>Receive Direct Inquiries</li>
                    <li>Display Customer Reviews</li>
                    <li>Display Phone Number</li>
                    <li>Display Social Media and Website Link</li>
                  </ul>
                </div>
              </div>
              <div class="card__side card__side--back card__side--back--3">
                <div class="card__cta">
                  <div class="card__price-box">
                    <p class="card__price-only">Only</p>
                    <p class="card__price-value">$99.99</p>
                  </div>
                  <a href="#" class="btn btn--white">Subscribe Now</a>
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div class="card">
              <div class="card__side card__side--front">
                <div class="card__picture card__picture--4">
                  <ion-img [src]="cardFourImg"></ion-img>
                </div>
                <div class="card__heading">
                  Titanium
                </div>
                <div class="card__details">
                  <ion-label>Enterprise</ion-label>
                  <ul>
                    <li>Tier 3 in Search Results</li>
                    <li>Up to 30 Physicians</li>
                    <li>List in 10 Categories</li>
                    <li>Receive Direct Inquiries</li>
                    <li>Display Customer Reviews</li>
                    <li>Display Phone Number</li>
                    <li>Display Social Media and Website Link</li>
                  </ul>
                </div>
              </div>
              <div class="card__side card__side--back card__side--back--1">
                <div class="card__cta">
                  <div class="card__price-box">
                    <p class="card__price-only">Only</p>
                    <p class="card__price-value">$199.99</p>
                  </div>
                  <a href="#" class="btn btn--white">Subscribe Now</a>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </section>

  <app-footer></app-footer>
</ion-content>
