<ion-header class="mobile-header ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="myMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
    <!--ion-buttons>
      <ion-button>
        <a [routerLink]="['/home']">
          <ion-img class="mobile-header__logo-img" [src]="appLogo"
                   alt="MedEviews Logo">
          </ion-img>
        </a>
      </ion-button>
    </ion-buttons-->
    <ion-buttons slot="end">
      <ion-button>
        <a [routerLink]="['/admin']" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact: true}">
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </a>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header class="header">
  <ion-row>
    <ion-col size="3">
      <div class="header__logo-text-wrapper">
        <ion-title>
          <!--div class="header__logo-text-wrapper__logo">
            <a [routerLink]="['/home']">
              <ion-img [src]="appLogo"
                       alt="MedEviews Logo"></ion-img>
            </a>
          </div-->
          <div class="header__logo-text-wrapper__text">
            <a [routerLink]="['/home']">
              <div class="header__logo-text-wrapper__text__name">{{ appName | uppercase }}</div>
              <div class="header__logo-text-wrapper__text__tagline">{{ appTagLine }}</div>
            </a>
          </div>

        </ion-title>
      </div>
    </ion-col>

    <ion-col size="2"></ion-col>

    <ion-col size="7">
      <div class="header__nav-wrapper">
        <ion-button fill="clear" color="dark" [routerLink]="['/about']"
                    routerLinkActive="active-item"
                    [routerLinkActiveOptions]="{exact: true}">About
        </ion-button>
        <ion-button fill="clear" color="dark" [routerLink]="['/reviews']"
                    routerLinkActive="active-item"
                    [routerLinkActiveOptions]="{exact: true}">Consulting
        </ion-button>

        <ion-button fill="clear" color="dark" [routerLink]="['/about']"
                    routerLinkActive="active-item"
                    [routerLinkActiveOptions]="{exact: true}">Work
        </ion-button>
        <ion-button #accountBtn (mouseenter)="accountDropDown=true" (mouseleave)="hideDropdown($event)"
                    fill="clear" color="dark" class="dropdown-btn"
                    [routerLink]="['/admin']"
                    routerDirection="root"
                    routerLinkActive="active-item"
                    [routerLinkActiveOptions]="{exact: true}">
          Account
          <ion-icon slot="end" [name]="accountDropDown ? 'chevron-down' : 'chevron-up'"></ion-icon>
        </ion-button>
        <div *ngIf="accountDropDown" class="account-dropdown"
             (mouseleave)="accountDropDown = false"
             #accountdropdownbox>
          <ion-item button (click)="accountDropDown = false" [routerLink]="['/login']"
                    lines="none" routerDirection="root">
            Login
          </ion-item>
          <ion-item button (click)="accountDropDown = false" [routerLink]="['/logout']"
                    lines="none" routerDirection="root">
            Logout
          </ion-item>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-header>


