
.jumbotron {
  margin-top: 7.4rem;

  @media(max-width: 768px) {
    width: 100%;
  }

  & .container {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;

    & .homepage-form {
      width: 30%;
      position: absolute;
      z-index: 10;
      margin-top: 15rem;
      margin-left: 10rem;
      border-radius: 25px;

      @media(max-width: 768px) {
        width: 90%;
        position: relative;
        margin-top: 5rem;
        margin-left: 0;
        text-align: center;
      }

      &__wrapper {


        &__title-text {
          width: 65%;
          margin: 0 auto;
          text-align: center;
          text-wrap: normal;

          & h1 {
            color: #fff;
            font-family: 'Ubuntu';
          }

        }

        &__inputs-wrapper {

          --ion-background-color: transparent;
          color: #fff !important;

          &--header {

          }

        }
      }


    }

    & ion-list {
      --ion-background-color: #545454;
      opacity: 0.4;

      & ion-item {
        --ion-background-color: transparent;
      }
    }


  }

  &__img {
    width: 100%;

    @media(max-width: 768px) {
      height: 30rem;
    }
  }

}
