@media(min-width: 768px) {
  .main-card {
    min-height: 690px;
    margin: 8rem auto 2.5rem;
    width: 90%;
  }
}

@media(max-width: 768px) {
  .main-card {
    min-height: 415px;
    top: 15px;
    margin-bottom: 25px;
  }
}
