<ion-content>
  <ion-card class="main-card">
    <ion-card-header>
      <ion-card-title>{{ pageTitle }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Join Our Newsletter</ion-card-title>
              </ion-card-header>
                <ion-button expand="block">Click to Subscribe</ion-button>
            </ion-card>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Join Our Community</ion-card-title>
              </ion-card-header>
              <ion-item lines="none">
                <ul>
                  <li>1. Register a member account</li>
                  <li>2. Create a searchable listing</li>
                  <li>3. Connect with more patients</li>
                </ul>
              </ion-item>
              <ion-button expand="block">Get Listed Today</ion-button>
            </ion-card>
            <ion-card></ion-card>
          </ion-col>
          <ion-col>

            <ion-card>
              <ion-list>
                <ion-list-header>
                  Blog
                </ion-list-header>

                <ion-item>
                  <ion-avatar slot="start">
                    <ion-label>Posted: 03/22/2021</ion-label>
                    <i class="far fa-id-card fa-9x"></i>
                  </ion-avatar>
                  <ion-label>
                    <h2>Article 3</h2>
                    <p>This is a sample blog article published by the Admin User - Blog Author.
                      You can always publish more news articles... View More</p>
                    <p>Category: </p>
                  </ion-label>
                </ion-item>

              </ion-list>
            </ion-card>

          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>
  <app-footer></app-footer>
</ion-content>
