<ion-content>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <ion-img class="jumbotron__img"  [src]=pageHeaderImg [alt]=pageHeaderImgAlt></ion-img>
    </div>
  </div>
  <ion-card class="main-card">
    <ion-card-header>
      <ion-card-title>{{ pageTitle }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="side">
            <ion-card class="side__cards">
              <ion-card-header>
                <ion-card-title>Join Our Newsletter</ion-card-title>
              </ion-card-header>
                <ion-button expand="block" (click)="openSubscribeModal()">Click to Subscribe</ion-button>
            </ion-card>
            <ion-card class="side__cards">
              <ion-card-header>
                <ion-card-title>Join Our Community</ion-card-title>
              </ion-card-header>
              <ion-item lines="none">
                <ul>
                  <li>1. Register a member account</li>
                  <li>2. Create a searchable listing</li>
                  <li>3. Connect with more patients</li>
                </ul>
              </ion-item>
              <ion-button expand="block" (click)="joinCommunity()">Get Listed Today</ion-button>
            </ion-card>
            <ion-card></ion-card>
          </ion-col>

          <ion-col size="8" class="blog">
            <ion-card class="blog__card">
              <ion-card-header>
                <ion-card-title>
                  Blog
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <div class="blog__card__articles-wrapper" *ngFor="let art of articles">
                  <div class="blog__card__articles-wrapper__avatar">
                    <ion-label>Posted: {{ art.blogDate }}</ion-label>
                    <ion-avatar slot="start">
                      <i class="fad fa-newspaper fa-9x"></i>
                    </ion-avatar>
                  </div>
                  <div class="blog__card__articles-wrapper__summary">
                    <h2>{{ art.blogTitle }}</h2>
                    <h4>Category: {{ art.blogCategory }} </h4>
                    <p>{{ art.blogArticleSummary }}</p>
                  </div>
                </div>
              </ion-card-content>

            </ion-card>

          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>
  <app-footer></app-footer>
</ion-content>
