.main-card {
  width: 75%;
}


.side {

  display: block;

  &__cards {
    display: block;
    min-height: 1.9rem;
    padding: 10px;
    margin-bottom: 1.5rem;
  }
}

@media(max-width: 768px) {

  .side__cards {
    display: none;
  }

}


.blog {
  width: 66%;

  &__card {
    width: 90%;
    float: right;

    &__articles-wrapper {
      display: inline-block;
      margin-bottom: 3rem;
      color: #000;
      padding: 10px;

      &__avatar {
        display: inline;
        float: left;
        padding-right: 3px;
        width: 25%;
      }

      &__summary {
        display: inline;
        padding: 3px;
      }

    }

    &__articles-wrapper:hover {
     background: #cecece;
      color: #000;

      & .i {
        color: #000;
      }
    }
  }
}
