<ion-content>
  <app-header></app-header>
  <app-jumbotron></app-jumbotron>
  <section class="how-we-help">
    <ion-card-header>
      <ion-card-subtitle class="section-headings">
        <h1>How we help</h1>
        <h5>Making the right medical decisions is important</h5>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card>
      <ion-card-content class="how-we-help__content-wrapper">
        <ion-col class="how-we-help__content-wrapper__col">
          <i class="fas fa-user-md fa-7x"></i>
          <div>
            <h3 class="how-we-help__content-wrapper__col__title">Reviews</h3>
            <p>Create, read and rank doctor reviews.</p>
          </div>
        </ion-col>
        <ion-col class="how-we-help__content-wrapper__col">
          <i class="fas fa-people-arrows fa-7x"></i>
          <div>
            <h3>Connect</h3>
            <p>Learn what other patients have experienced.</p>
          </div>
        </ion-col>
        <ion-col class="how-we-help__content-wrapper__col">
          <i class="fas fa-users fa-7x"></i>
          <div>
            <h3>Join</h3>
            <p>Register and become apart of our community.</p>
          </div>
        </ion-col>
      </ion-card-content>
    </ion-card>
  </section>

  <section class="value-perception">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle class="section-headings">
          <h1>Help Improve Medical Customer Service</h1>
          <h5>MedEviews helps new patients seeking medical services.</h5>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="value-perception__content-wrapper">
        <ion-col class="value-perception__content-wrapper__col-1">
          <div>
            <h2 class="heading-tertiary">
              Your previous medical experience is important to someone in our community.
            </h2>
            <p class="paragraph">
              Bringing awareness to
              <span style="color: green">great</span> to
              <span style="color: dodgerblue">average</span> to
              <span style="color: red" >bad</span> medical services is imperative to your safety.<br/><br/>
            </p>
            <p class="paragraph">
              Providing your tenants a higher level of customer service & new features builds
              perception.
            </p>
          </div>
        </ion-col>
        <ion-col class="value-perception__content-wrapper__col-2">
          <div>
            <ion-img [src]="customerSatisfactionImage"></ion-img>
          </div>
        </ion-col>
      </ion-card-content>
    </ion-card>
  </section>

  <section class="green-communication">
    <ion-card-header>
      <ion-card-subtitle class="section-headings">
        <h1>Go <span class="green-text">GREEN</span> Send Notifications</h1>
        <h5>Save <span class="green-text">trees</span> & communicate instantly</h5>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card>
      <ion-card-content class="green-communication__content-wrapper">
        <ion-row class="green-communication__content-wrapper__row-1">
          <ion-col class="green-communication__content-wrapper__row-1__col-1 composition">
            <img src="/assets/img/messages/pest_control.jpg" alt="Photo 1"
                 class="composition__photo composition__photo--p1 img-1">
            <img src="/assets/img/messages/preventative_maintenance.jpg" alt="Photo 2"
                 class="composition__photo composition__photo--p2 img-2">
            <img src="/assets/img/messages/rent_reminder.jpg" alt="Photo 3"
                 class="composition__photo composition__photo--p3 img-3">
          </ion-col>
          <ion-col class="green-communication_content-wrapper__row-1__col-2">
            <div class="col-1-of-2">
              <h2 class="heading-tertiary u-margin-bottom-small">SAVE Money & Time</h2>
              <p class="paragraph">
                Who has time to print, cut and hand deliver notices?
                Do you even know if the notices actually got delivered?
              </p>
              <h3 class="heading-tertiary u-margin-bottom-small">Increase Customer Service Response
                Time</h3>
              <p class="paragraph">
                When they press send, you respond instantly.
              </p>
              <a href="#" class="btn-text">Learn More &rarr;</a>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </section>

  <section class="founding-member">
    <ion-card-header>
      <ion-card-subtitle class="section-headings">
        <h1>Become A Member, Gain Early Access</h1>
        <h3>Join for FREE!</h3>
        <h5>New members receive our special life-time pricing.</h5>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card>
      <ion-card-content class="founding-member__content-wrapper">
        <ion-col class="founding-member__content-wrapper__col-1">
          <button class="btn founding-member__content-wrapper__col-1__btn" (click)="openFMLModal()">
            Sign Up Now
          </button>
        </ion-col>
      </ion-card-content>
    </ion-card>
  </section>

  <section class="laundry">
    <ion-card-header>
      <ion-card-subtitle class="section-headings">
        <h1>Laundry Portal</h1>
        <h5>Managing The Seen & Unforeseen</h5>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card>
      <ion-card-content class="features__content">
        <p>
          "This is where the features might go but for now I am just typing some text.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et
          dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est
          laborum."
        </p>
      </ion-card-content>
    </ion-card>
  </section>

  <section class="parking">
    <ion-card-header>
      <ion-card-subtitle class="section-headings">
        <h1>Working With Great Doctors Seeking GREAT Patients</h1>
        <h5>Medical Providers can increase customer service revenues using MedEviews.</h5>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row class="services__text-wrapper">

          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </section>

  <!-- gallery -->
  <ion-row class="home__gallery">
    <section class="gallery">
      <figure class="gallery__item gallery__item--1">
        <img src="../../../assets/img/site/doctors/doctor1.jpeg"
             alt="Doctor Image 1"
             class="gallery__img">
      </figure>
      <figure class="gallery__item gallery__item--2">
        <img src="../../../assets/img/site/doctors/doctor2.jpeg" alt="Doctor Image 2"
             class="gallery__img">
      </figure>
      <figure class="gallery__item gallery__item--3">
        <img src="../../../assets/img/site/doctors/doctor3.jpeg" alt="Doctor Image 3"
             class="gallery__img">
      </figure>
      <figure class="gallery__item gallery__item--4">
        <img src="../../../assets/img/site/doctors/doctor4.jpg" alt="Doctor Image 4"
             class="gallery__img">
      </figure>
      <figure class="gallery__item gallery__item--5">
        <img src="../../../assets/img/site/doctors/doctor5.jpeg" alt="Doctor Image 5"
             class="gallery__img"></figure>
      <figure class="gallery__item gallery__item--6"><img
        src="../../../assets/img/site/doctors/doctor6.jpeg" alt="Doctor Image 6"
        class="gallery__img"></figure>
      <figure class="gallery__item gallery__item--7"><img
        src="../../../assets/img/site/doctors/doctor7.jpg" alt="Doctor Image 7"
        class="gallery__img"></figure>
      <figure class="gallery__item gallery__item--8"><img
        src="../../../assets/img/site/doctors/doctor8.jpeg" alt="Doctor Image 8"
        class="gallery__img"></figure>
      <figure class="gallery__item gallery__item--9"><img
        src="../../../assets/img/site/doctors/doctor9.jpeg" alt="Doctor Image 9"
        class="gallery__img"></figure>
      <figure class="gallery__item gallery__item--10"><img
        src="../../../assets/img/site/doctors/doctor10.jpeg" alt="Doctor Image 10"
        class="gallery__img"></figure>
      <figure class="gallery__item gallery__item--11">
        <img src="../../../assets/img/site/doctors/doctor11.jpeg" alt="Doctor Image 11"
                                                           class="gallery__img"></figure>
      <figure class="gallery__item gallery__item--12">
        <img src="../../../assets/img/site/doctors/doctor12.jpeg" alt="Doctor Image 12"
                                                           class="gallery__img"></figure>
      <figure class="gallery__item gallery__item--13">
        <img src="../../../assets/img/site/doctors/doctor13.jpeg" alt="Doctor Image 13"
             class="gallery__img"></figure>
      <figure class="gallery__item gallery__item--14">
        <img src="../../../assets/img/site/doctors/doctor14.jpeg" alt="Doctor Image 14"
                                                           class="gallery__img"></figure>

    </section>
  </ion-row>

  <app-footer></app-footer>
</ion-content>
