.jumbotron {
  margin-top: 8rem;

  @media(max-width: 768px) {
    width: 100%;
  }

  & .container {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;

    &__img {
      width: 100%;

      @media(max-width: 768px) {
        height: 30rem;
      }
    }

  }

}

.main-core-page-card {
  margin-top: 2rem;
}
